html, body{
    height: 100vh;
    border: 0;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

#one{
    background-color: aquamarine;
    height: 100%;
}

#two{
    background-color: yellowgreen;
    height: 100%;
}

#as{
    background-color: coral;
    height: 100%;
}

#three{
    background-color: yellowgreen;
    height: 100%;
}

.nav{
    width: 200px;
    top: 0;
    right: -230px;
    background-color: black;
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: end;
    opacity: 50%;
    gap: 15px;
}

.nav.active{
    transform: translateX(-100%);
    transition: transform 1s;
}

a.active{
    transform: translateX(-15%);
    transition: transform 1s;
    transition-delay: .5s;
}

.nav.closed {
    transform: 100%;
    align-items: end;
    transition: transform 1s, align-items 2s;
}

button{
    position: fixed;
    top:90%;
    left: 5%;
    padding: 15px;
    border-radius: 15%;
}

#parallax {
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}

#principal {
    padding: 10%;
}

a {
    color:black;
    font-weight: bold;
    text-decoration: none;
    background-color: beige;
    padding: 5%;
    width: 90%;
}